<html lang="en"><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="8XQ5i_x2Cr4rDTBaDtP3LpsSWV8SDgJwYjdnW37PfcU">
        <title>NebulaX YT Downloader</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <div class="container">
            <header class="header">
                <nav>
                    <h2>NebulaX <span class="yt">You</span>Tube<span class="yt"> Downloader</span></h2>
                </nav>      
                <div class="header-wrapper">
                    <h2>Easily download YouTube videos using NebulaX's amazing downloader tool</h2>
                    <div class="url-container">
                        <input class="url" placeholder="Video URL">
                        <button class="btn-download video">Video</button>
                        <button class="btn-download mp3">Audio</button>
                    </div>
                    <span class="error-text">Sorry.. video url https://www.youtube.com/shorts/ipPY4K6FYX8 not found, please check your video url</span>
                </div>
            </header>
            <div class="result-search"></div>
        </div>
        <script src="/js/app.js"></script>
    

</body></html>